.crocodile-game {
	display: flex;
}

.selected-tool {
	margin: 10px 0 10px;
}

.room-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	width: 600px;
}

.room-word {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #17ad07;
}

canvas {
	border: 1px solid #000;
	user-select: none;
	margin-right: 20px;
}

.crocodile-chat {
	flex: 1;
}

.crocodile-messages {
	display: flex;
	max-height: 400px;
	flex-direction: column;
	border: 1px solid #000;
	overflow-y: auto;
}

.message {
	border: 1px solid #000;
	margin: 5px;
	padding: 5px;
}

.message-author {
	font-weight: bold;
}

.crocodile-chat-form {
	display: flex;
	align-items: center;
	flex: 1;
	max-height: 40px;
	margin-top: 10px;
}

.crocodile-input {
	flex: 1;
	max-height: 40px;
	line-height: 40px;
	font-size: 14px;
}
